.contentImg {
    width: 500px;
}

.frame {
    display: flex;  
    margin-top: 100px;
}

.frame1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.frame1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.frame2-1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Ysabeau;
    color: white; 
    width: 387px;
    font-size: 25px;
    text-align: center;
    margin-top: 2px;
}

.content-button {
    font-family: Ysabeau;
    width: 220px;
    height: 62px;
    margin-top: 130px;
    color: rgb(56, 56, 245);
    border-radius: 35px;
    text-align: center;
    border: 0;
    font-size: 23px;
    margin-bottom: 100px;
}

